mixin features
  .feature.is-story
    .feature-description
      .feature-title
        | Захватывающая история
      .feature-text
        | Вы окажетесь в мире будущего. Вас ждут космические полёты, роботы и межгалактические империи…
  .feature.is-right.is-robot
    .feature-description
      .feature-title
        | Безумный робот
      .feature-text
        | Последнее достижение технологий будущего будет доставать вас в течение всего полёта.
  .feature.is-arcade
    .feature-description
      .feature-title
        | Весёлая аркада
      .feature-text
        | Кроме решения загадок вам поднимет настроение командная игра, требующая молниеносной реакции и слаженных действий всего экипажа.
