mixin reviews
  .grid
    .review.grid-col_1_of_2
      .review-title
        | Имяфамилий Отчествович
      .review-text
        | Хорошо продуманный и атмосферный квест. Чувствуешь себя настоящим пассажиром терпящего бедствия космического корабля) Загадки интересные и достаточно логичные, нет моментов когда не знаешь что делать дальше... В одном из заданий нужна четкая командная работа - понимаешь слушают тебя напарники или нет) Все очень понравилось, отличный вариант и для начинающих и для опытных игроков!
    .review.grid-col_1_of_2
      .review-title
        | Имяфамилий Отчествович
      .review-text
        | Хорошо продуманный и атмосферный квест. Чувствуешь себя настоящим пассажиром терпящего бедствия космического корабля) Загадки интересные и достаточно логичные, нет моментов когда не знаешь что делать дальше... В одном из заданий нужна четкая командная работа - понимаешь слушают тебя напарники или нет) Все очень понравилось, отличный вариант и для начинающих и для опытных игроков!
