extends layout
include includes/features.jade

block content
  .content
    .intro
      h1
        | Квест космос
      .intro-subheading
        | Фантастическое приключение для всей семьи
      button.button.intro-button
        | Записаться

    section
      h2
        | Фантастический сюжет
      p
        | У Вас есть возможность посетить лучший космический квест в СПБ. Не просто выйти из комнаты, а спасти пассажиров межгалактической маршрутки. Решение современных загадок взаперти футуристической капсулы посреди вселенной погружает в незабываемую атмосферу научно-фантастического произведения.

    section
      h2
        | Особенности
      +features()

    section
      h2
        | Информация
      p
        | Реальные квесты – это популярный вид развлечений.  Не знаете, чем заняться в свободное время с друзьями?  Решаете, куда сходить в Питере?  Планируете организовать корпоратив, отметить день рождения или провести выходные с семьей?
      p
        | Эскейп рум Космос, один из прекраснейших вариантов времяпрепровождения!
